html {
  font-size: 15px;
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #f8f9fa;
}

.card {
  border-radius: 0.5rem;
}

.footer {
  background-color: #fff;
}
